header {
    position: relative;
    width: 1004px;
    margin: 0 auto;
    padding-top: 10px + 180px + 10px;

    ul {
        margin: 0;
        padding: 0;
    }

    #nw-arrow {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 180px;
        height: 180px;
    }

    #nw-logo {
        position: absolute;
        background: url('/static_theme/static/images/logo.png');
        top: 180px + 10px - 106px;
        left: 10px + 180px + 15px;
        width: 500px;
        height: 106px;
    }

    #nw-img-left {
        position: absolute;
        background: url('/static_theme/static/images/bg_links.png');
        top: 300px;
        left: -128px;
        width: 128px;
        height: 249px;
    }

    #nw-img-right {
        position: absolute;
        background: url('/static_theme/static/images/bg_rechts.png');
        top: 0px;
        left: 820px;
        width: 296px;
        height: 240px;
    }
}

#nw-topnav {
    background-color: #056490;
    padding: 0 20px;
    margin: 0;
    color: #fff;
    height: 20px;

    a {
        color: #fff;
        font-size: 10px;
        font-weight: bold;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }
    > div > ul > li {
        position: relative;

        &:not(:last-child):after {
            content: " | ";
        }

        > a {
            display: inline-block;
            height: 10px;
            line-height: 10px;
            padding: 5px;
        }
        &:hover > a {
            color: $primary-color;
        }
    }

    #nw-topnav-right {
        // needs to be positioned absoletly to overlap #nw-img-right
        position: absolute;
        right: 20px;
        bottom: 0;
    }
}

#nw-topnav li:hover ul.children {
    min-width: 100px;
    white-space: nowrap;
    background-color: $button-color;
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    z-index: 100;
    padding: 1em;

    > li {
        display: block;

        border-bottom: 1px solid #fff;

        &:last-child {
            border-bottom: none;
        }

        a {
            // expand across the whole row
            display: block;
            padding: 2px 0;
        }
    }
}
#nw-topnav ul.children {
    display: none;
}
