/*****************************************************
 *
 *  Custom theme css to override the adhocracy css
 *
 ******************************************************/

body {
    background-color: #081F2B;
    font-family: Arial, Helvetica, sans-servif;
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 2em;

    html.overlay & {
        background: none;
    }
}

// set background on page_wrapper to create the white main block
.page_wrapper {
    background: #fff;
}
#main {
    margin: 0;
    .page_wrapper {
        padding: 10px 0 60px;
    }
}
#main .page_wrapper {
    padding-left: 20px;

    .full_teaser,
    #col1_content {
        padding-left: 0;
    }
}
html.overlay #main .page_wrapper {
    padding: 0;
}
#subheader {
    background: none;
    padding: 0;
    margin: 0;

    .page_wrapper {
        padding: 27px 0 0;
        background-color: $bg2;
        border-bottom: 1px solid $button-color;
    }
}
#flash_message {
    background: none;

    .page_wrapper {
        background-color: $flash;
    }
}

#subnav {
    padding-left: 20px;
    li {
        height: 36px;
        line-height: 36px;

        a {
            color: $button-color;
            background-color: $bg1;
            background-image: none;
            &:hover {
                background-color: darken(#fff, 7%);
                @include background-image(linear-gradient(to bottom, $bg1, lighten($button-color, 50%)));
            }
        }
        &.current {
            a {
                @include button($button-color);
            }
        }
    }
}

#instance_settings {
    padding-right: 20px;
}

#footer {
    font-size: 9px;
    background: none;

    .page_wrapper {
        border-top: 1px solid $button-color;
        background: #fff;
        padding: 10px 20px;
    }

    #second_footer_line {
        width: 100%;
        .footer_content {
            vertical-align: middle;
            border: none;
        }
        #footer_1 {
            text-align: center;
            width: 16%
        }
        #footer_3 {
            text-align: right;
        }
    }
}

#col3 h3 {
    border-bottom: 1px solid $primary-color;
}

// real sidebar links should be black and underlined
.sidebar_box {
    a.button_small {
        text-decoration: none;
        color: #fff;
    }
    a {
        text-decoration: underline;
        color: $black;
    }
}
